.txt-primary{
    color: #004E7D !important;
    font-weight: 600 !important;
}
.carousel-item{
    height: 80vh;
}
.card--image-tile__blur {
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    z-index: 2;
    background: #0b528494;
    -webkit-backdrop-filter: blur(0.3125rem);
    backdrop-filter: blur(0.3125rem);
}
h1{
    color: #004E7D;
}
.card-detail{
    padding: 10px;
}

.Insights-News-cards{
    background-color: #004E7D !important;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
}

/* bannner2 */
.Banner2{
    background-image: url('../../../../public/assets/images/job-tec.webp');
    height: 80vh;
    overflow: hidden;

}
.blur-banner2{
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #0b528494;
    -webkit-backdrop-filter: blur(0.3125rem);
    backdrop-filter: blur(0.3125rem);
    
}
.card-overlay{
    background-color: #0005095e;
    height: 50vh;
    width: 100%;

}
/* animations */

.card{
    transition: .4s all ease;
  }
  
  .card:hover{
    transform: translateY(-10px) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .fa-arrow-right,.fa-bookmark{
    transition: .3s all ease;
  }
  
  .card a:hover .fa-arrow-right{
    transform: translateY(-10px);
  }
  .card a:hover .fa-bookmark{
    transform: translateY(-10px);
  }
  .value-section-btn{
    color: black;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 100px;

  }
  .values-btn{
    font-size: 3.5rem;
  }
  .values-parent{
    line-height: 6;
  }
  .passion-heading{
    font-size: 1.2rem;
  }