.investor-day-section {
    background-image: url('../../../public/assets/images/investor-hero-section.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6); /* To enhance text readability */
    height: 75vh; /* Adjust the height as needed */
   
    padding: 20px;
    margin-bottom: 180px;
    position: relative;
    display: flex;
    align-items: center;

  }
  .investor-content{
    width: 80%;
    margin: 0 auto;
  }
 .investor-stock-info{
    background-color: #00225a;
    bottom: -25%;
    position: absolute;
    display: grid;
    width: 80%;
    grid-template-columns: auto 40%;
    left: 50%;
    transform: translateX(-50%);
 }
 .investor-stock-info .investor-stock-inner{
    display: grid;
    align-items: center;
     padding: 20px;
 }
 .module-stock-header_description1 {
    display: inline-block;
    font-size: 2rem;
    line-height: 38px;
    padding-right: 5px;
}
.module-stock-header_stock-price {
    display: inline-block;
    font-size: 2rem;
    line-height: 38px;
    color: #fff;
    padding-right: 5px;
}
.module-stock-header_up {
    color: #389D27;
}
.module-stock-header_change, .module-stock-header_percent-change {
    display: inline-block;
    font-size: 2rem;
    line-height: 38px;
    position: relative;
}
 .module-stock-header_date-wrap span {
    display: inline-block;
    font-size: 1rem;
    line-height: 19px;
    padding-left: 5px;
}
.module_container--inner{
    padding: 5px 0;
}
.investor-content h1{
    color: white;
    margin: 0;
}
.module-stock-header_stockQuote i{
    color: #FEDB0E;
}
.read-more i{
    color: #FEDB0E;
}
.card-body i{
    color: #FEDB0E;
    
}

/* events */

.card{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
  
  .event-card .card-header h5 {
    background-color: #00225A; /* Bootstrap primary color */
   padding: 12px;
   margin: 0;
    display: inline-block;
  }
  .event-card .card-header {
    border-top:2px solid #00225A ;
    border-bottom: 0;
    background-color: #fff !important;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  
  .event-card .card-body {
    position: relative;
    padding-top: 1.5rem; /* Increase padding to lift the body up under the header */
    border: none;
    
  }
  
 
  .date {
    font-size: 0.875rem;
  }
  
  .bi {
    margin-right: 0.5rem;
    font-size: 1.2rem; /* Icon size */
    vertical-align: -0.2em;
  }
  
  .card-link {
    font-weight: bold;
    color: #00225A !important; /* Bootstrap primary color */
  }
  
  @media (max-width: 576px) {
    .event-card {
      max-width: 100%;
    }
  }
  
  /* video play */
    .hero__about-video {
    height:auto;
}

.hero__about-video iframe,
.hero__about-video video,
.video__area img {
    width: 100%;
    height: auto
}
  
  /*video play  */