

  /* YourComponent.css */
.hero__about-video {
    position: relative;
    width: 100%; /* Set the width you prefer */
    height: 300px;
  }
  
  .custom-thumbnail {
    background-image: url('../../../../public/assets/images/1728871999-7728c13f0c1b9512598a883ee1ec048d46233cef8c8e7644277ec574b1371b6f-d.avif');
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    z-index: 2;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: url('../../../../public/assets/images/play-button.png') no-repeat center center;
    width: 64px;
    height: 64px;
    background-size: contain;
    cursor: pointer;
    z-index: 3;
  }
  
  .youtube-iframe {
    width: 100%;
    height: inherit; /* Set the height you prefer */
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  /*  */
  .executive-leadership-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #0e4f88; /* Replace with the actual color or gradient */
    padding: 20px;
  }
  
  .executive-portraits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .portrait img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 3px solid #ffffff; /* Adjust based on your preference */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Creates a hexagon shape */
  }
  
  .executive-info {
    max-width: 300px; /* Adjust based on your preference */
  }
  
  .executive-info h2 {
    color: #ffffff;
    margin-bottom: 0.5em;
  }
  
  .executive-info p {
    color: #ffffff;
    margin-bottom: 1em;
  }
  
  .executive-link {
    color: #ffffff;
    text-decoration: none;
    background: #022f5b; /* Adjust based on your preference */
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .executive-leadership-section {
      flex-direction: column;
      text-align: center;
    }
  
    .executive-info {
      margin-top: 20px;
    }
  }
  